<%= render "common/navbar" %>
	<div class="container">
		<h1>New Quotation</h1>
		<%= form_for @quotationM, :html => { :class => "form-horizontal " } do |quotationM| %>
			<%= render "form", :f => quotationM %>
			<div class="form-group">
				<%= button_to "Create", quotation_ms_path, :class => "btn btn-primary col-sm-offset-2" %>
				<%= link_to "Back to index", quotation_ms_path(:page => params[:page]), method: :get, :class => "btn btn-primary" %>
			</div>		
		<% end %>
	</div>
<%= render "common/footer" %>